body {
	margin: 0;
	padding: 0;
}

.c-fff {
	color: #ffffff;
}

.w-100p {
	width: 100%;
}

.h-100p {
	height: 100%;
}

.inline-block {
	display: inline-block;
}

.flex {
	display: flex;
}

.justify-content-center {
	justify-content: center;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.min-w-600px {
	min-width: 600px;
}

.left-0 {
	left: 0;
}

.top-0 {
	top: 0;
}

.fs-0 {
	font-size: 0;
}